{% extends "account/base.html" %}

{% block content %}

<form method="post">
  <div class="row todo-new">
    <div class="col-2 todo-new">
      {{form.email.label}}
    </div>
    <div class="col-2 todo-new">
      {{form.email}}
    </div>
  </div>
  <div class="row todo-new">
    <div class="col-2 todo-new">
      {{form.password1.label}}
    </div>
    <div class="col-2 todo-new">
      {{form.password1}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input class="btn-primary single-btn" type="submit" value="Sign Up">
    </div>
  </div>
  {% csrf_token %}
</form>
{% endblock %}